<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
        <script src="/js/script.js" defer></script>
</head>

<body>

    <%- include("partials/nav.ejs") %>
        <div class="browsing">
            <br>
            <h1> Discover Your Next Great Read! </h1>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search by title or author...">
                <button onclick="searchBooks()">Search</button>
            </div>

            <br>
            <br>
            <br>
            <ul id="bookList">
                <% for (let i of homeData) {%>
                    <li class="bookElement">
                        <img class="bookImage" width="150" src="<%=i.volumeInfo.imageLinks.smallThumbnail%>">
                        <div class="bookRow">
                            <h2 class="bookName">
                                <%=i.volumeInfo.title%><br>
                                    <%=i.volumeInfo.subtitle%>
                            </h2>
                            <h2 class="authorName">By <%=i.volumeInfo.authors%>
                            </h2>
                            <button class="showBookInfo" data-target="<%=i.id%>">Show More Info</button>
                            <dialog class="bookModal" id="<%=i.id%>">
                                <div class="bookInfo">
                                    <button class="closeModal" data-target="<%=i.id%>">Close</button>
                                    <button class="addToCart">Add Book to Cart</button>
                                    <h2 class="authorName">
                                        <%=i.volumeInfo.authors%>
                                    </h2>
                                    <h2 class="bookName">
                                        <%=i.volumeInfo.title%><br>
                                        <%=i.volumeInfo.subtitle%>
                                    </h2>
                                    <img class="bookImage" width="250" src="<%=i.volumeInfo.imageLinks.thumbnail%>">
                                    <h3 class="bookSummary">
                                        <%=i.volumeInfo.description%>
                                    </h3>
                                </div>
                            </dialog>
                        </div>
                    </li>
                    <br>
                <%}%>
            </ul>
        </div>
</body>

</html>