<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/nav.ejs") %>
        <main>
            <h1>Results for "<%= query %>" </h1>
            <ul id="bookList">
                <% for (let i of searchData) { %>
                    <% if (i.volumeInfo.imageLinks) { %>
                        <li class="bookElement">
                            <img class="bookImage" width="150" src="<%= i.volumeInfo.imageLinks.smallThumbnail %>">
                            <div class="bookRow">
                                <h2 class="bookName"><%= i.volumeInfo.title %></h2>
                                <h2 class="authorName">By <%= i.volumeInfo.authors %></h2>
                                <button class="showBookInfo" data-target="<%= i.id %>">Show More Info</button>
                            </div>
                            <dialog class="bookModal" id="<%=i.id%>">
                            <div class="bookInfo">
                                <button class="closeModal" data-target="<%=i.id%>">Close</button>
                                <form action="/addedToCart" method="POST">
                                    <input type="hidden" name="title" value="<%= i.volumeInfo.title %>">
                                    <input type="hidden" name="author" value="<%= i.volumeInfo.authors %>">
                                    <input type="hidden" name="image" value="<%= i.volumeInfo.imageLinks.thumbnail %>">
                                    <button class="addToCart">Add Book to Cart</button>
                                </form>
                                <h2 class="authorName">
                                    <%=i.volumeInfo.authors%>
                                </h2>
                                <h2 class="bookName">
                                    <%=i.volumeInfo.title%><br>
                                    <%=i.volumeInfo.subtitle%>
                                </h2>
                                <img class="bookImage" width="250" src="<%=i.volumeInfo.imageLinks.thumbnail%>">
                                <h3 class="bookSummary">
                                    <%=i.volumeInfo.description%>
                                </h3>
                            </div>
                        </dialog>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
        </main>
</body>

</html>